.example-spacer {
  flex: 1 1 auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.flex-container>div {
  width: 50%;
  height: 50%;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}

.icon-display {
  transform: scale(1.3);
}